<div class="container">
  <h2>我发布的文章
    <small> 共有<span id="article-count"><%= current_user.article.count %></span>篇</small>
    <%= link_to "发布 Blog ", new_article_path, class: "btn btn-primary pull-right" %>
  </h2>

  <%=render partial: 'articles/article',collection: @articles,locals: {editable: true} %>

  <%= paginate @articles %>
</div>

