<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Demo</title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<%= link_to "退出登录", destroy_user_session_path, method: 'DELETE', class: "btn btn-danger" %>
<div class="col-md-12 footer">
  © 2016 Blog Demo
</div>
</body>
</html>

