body {
    margin: 0;
    height: 100%;
}

a:link {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #45BCF9;
}

.top-nav {
    height: 50px;
    background-color: white;
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 0;
}

.left-nav {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 160px;
    background-color: #222222;
    padding: 8px 0;
}

ul {
    padding-left: 16px;
}

li {
    color: white;
    margin: 8px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
}

i {
    padding-right: 8px;
}

.user {
    float: right;
    margin-right: 8px;
    line-height: 60px;
}

.panel-article {
    margin-left: 150px;
    padding: 0 32px;
    width: 800px;
    position: relative;
}

.article-title {
    width: 800px;
    padding: 4px;
    font-size: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.article-content {
    width: 800px;
    min-height: 300px;
    margin-top: 32px;
    padding: 16px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}

textarea {
    display: block;
}

.submit {
    float: right;
    height: 30px;
    padding: 0 12px 2px;
    margin-top: 32px;
    background: #0085ba;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
    border-radius: 3px;
    border-width: 2px;
    border-style: none;
    border-color: transparent;
    border-image: none;
}