/*
*= require article
*= require articles
*= require index
*= require search
*= require bootstrap-wysihtml5
*/

body {
  background-color: #F1F1F1;
}

.brand {
  padding-left: 0;
}

.nav-bottom {
  border-bottom: 1px solid #DDD;
}

.nav-shadow {
  width: 100%;
  height: 40px;
  position: absolute;
}

.nav-search-form {
  display: inline-block;
  margin-left: 32px;
}

.blog {
  border: 1px solid #EEE;
  border-radius: 3px;
  border-left-width: 5px;
  border-left-color: #f0ad4e;
  padding: 20px;
  margin: 8px auto;
  background-color: white;
}

.blog-title {
  &:hover {
    color: #259;
    text-decoration: none;
  }
  &:link {
    text-decoration: none;
  }
}

.blog-info {
  padding-right: 2px;
  text-align: center;
}

.user {
  padding-left: 8px;
}

.user a:link {
  color: #999;
  text-decoration: none;
}

.footer {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #EAEAEA;
  background-color: white;
}