.article-panel {
    padding: 0;
    margin: 0 auto;
    margin-top: 24px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    float: none;
}

.article-title {
    padding: 10px;
    padding-top: 0px;
}

.align-center {
    text-align: center;
}

.divider-bottom {
    border-width: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #DDD;
}

.article-content {
    padding: 15px;
}