.brand {
    padding-left: 0;
}

.footer {
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #EAEAEA;
    background-color: white;
}