.update-alert {
    margin-top: 20px;
    margin-bottom: 4px;
}

.content {
    margin: 0 auto;
    margin-top: 16px;
    display: inline-block;
}

.content-panel {
    padding: 0;
    margin: 0;
}

p {
    text-indent: 2em;
    font-size: 16px;
}

.footer {
    margin-top: 32px;
}

.about-title {
    padding: 4px;
    background-color: #74C2BD;
    line-height: 1.69em;
    padding: 12px 15px;
    color: white;
    text-align: center;
}

.about-info {
    margin-top: 8px;
    font-family: 'Microsoft yahei';
    font-style: normal;
    font-weight: 500;
    color: #444;
    font-size: 13px;
}